<footer>
<div class="container">
    <ul class="footer1">
        <h6>ნავიგაცია</h6>
        <li>ჩვენ შესახებ</li>
        <li>წესები და პირობები</li>
        <li>კორპორატიული გაყიდვები</li>
        <li>მიწოდების სერვისი</li>
        <li>კარიერა</li>
        <li>Trade In</li>
    </ul>
    <ul class="footer2">
        <h6>გადახდები</h6>
        <li>გადახდის მეთოდები</li>
        <li>გარანტია</li>
        <li>განვადება</li>
        <li>ნივთის დაბრუნება</li>
        <li>ნივთის ონლაინ ყიდვის ინსტრუქცია</li>
    </ul>
    <ul class="footer3">
        <h6>გამოგვყევი</h6>
        <li><span nz-icon nzType="facebook" nzTheme="outline"></span> Facebook</li>
        <li><span nz-icon nzType="youtube" nzTheme="outline"></span> Youtube</li>
        <li><span nz-icon nzType="instagram" nzTheme="outline"></span> Instagram</li>
        <li><span nz-icon nzType="hourglass" nzTheme="outline"></span> Tik Tok</li>
    </ul>
    <ul class="footer4">
        <h6>კონტაქტი</h6>
        <li> <span nz-icon nzType="send" nzTheme="outline"></span> Info.zoommer.ge</li>
        <li>  <span nz-icon nzType="phone" nzTheme="outline"></span> +995 (32) 2 60 30 60 / *7007</li>
        <li>  <span nz-icon nzType="shop" nzTheme="outline"></span> ფილიალები</li>
        <li> <span nz-icon nzType="appstore" nzTheme="outline"></span> Zoommer App</li>
    </ul>
</div>
</footer>