.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    background-color: #ebebeb;
    padding-top: 40px;
}
h6{
    border-bottom: 1px solid rgb(255, 123, 0);
    padding-bottom: 13px;
    font-size: 17px;
    font-weight: bold;
}
ul{
    height: 250px !important;
}
li{
    padding: 5px 0px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}
span{
    color: white;
    background-color: rgb(255, 106, 0);
    padding: 3px;
    border-radius: 3px;
}