.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.top{
    width: 880px;
    height: 380px;
}
img{
    width: 880px ;
    height: 380px ;
    border-radius: 15px;
}
.end{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 240px;
    border-radius: 15px;
}
.Mul{
    border-radius: 15px !important;
}
